<!DOCTYPE html>

<html>
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

    <!-- Bootstrap -->
    <link href="http://fdpb.net/hp/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--plugins-->
    <link href="http://fdpb.net/hp/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fdpb.net/hp/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="http://fdpb.net/hp/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="http://fdpb.net/hp/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="http://fdpb.net/hp/flaticons/flaticon.css" rel="stylesheet">
    <link href="http://fdpb.net/hp/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet">

    <!-- Revolution Slider 5.x CSS settings -->
    <link href="http://fdpb.net/hp/revolution/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="http://fdpb.net/hp/revolution/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="http://fdpb.net/hp/revolution/css/navigation.css" rel="stylesheet" type="text/css" />
    <!--custom css file-->
    <link href="http://fdpb.net/hp/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

    <script src="http://fdpb.net/hp/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://fdpb.net/hp/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="http://fdpb.net/hp/js/jquery.easing.1.3.min.js" type="text/javascript"></script>
    <script src="http://fdpb.net/hp/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://fdpb.net/hp/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="http://fdpb.net/hp/js/jquery.sticky.js"></script>
    <script src="http://fdpb.net/hp/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="http://fdpb.net/hp/js/modernizr.custom.97074.js" type="text/javascript"></script>
    <script src="http://fdpb.net/hp/js/waypoints.min.js"></script>
    <script src="http://fdpb.net/hp/js/jquery.counterup.min.js"></script>
    <script src="http://fdpb.net/hp/js/smooth-scroll.js" type="text/javascript"></script>
    <script src="http://fdpb.net/hp/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="http://fdpb.net/hp/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="http://fdpb.net/hp/js/custom.js" type="text/javascript"></script>

    @RenderSection("Scripts", false)
</body>
</html>
